.guerrier {
    background-color: red;
}

.magicien {
    background-color: purple;
}

.voleur {
    background-color: blue;
}

h1 {
    color: blue;
}

canvas {
    border: 1px solid black;
}

body {
    /* border: solid 1px green; */
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
}

/* h1, h2, p, div {
    border: solid 1px orange;
} */

.navigation {
    /* border: solid 1px lightgray; */
    padding-top: 5px;
    padding-bottom: 5px;
}

.navigation li {
    display: inline;
    /* border: solid 1px  red; */
    margin-left: 10px;
    margin-right: 10px;
}

.navigation ul {
    /* border: solid 1px blue; */
    width: fit-content;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
}

.img-centree {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-float {
    width: 150px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}