body {
    scroll-behavior: smooth;
    background-color: white;
}

h1 {
    text-align: center;
    padding: 1%;
    border-color: black;
    font-weight: 300;
}

h1, h2, a {
    color: black;
}

p {
    color: aliceblue;
}

a {
    text-decoration: none;
}

.grid-container {
    margin: 7%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.photo {
    position: relative;
    aspect-ratio: 3 / 2;
    display: flex;
    align-items: center;
    text-align: center;
}

.photo img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.photo p {
    position: absolute;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.photo:hover p {
    opacity: 1;               /* show overlay on hover */
}

.photo:hover img {
    filter: brightness(50%);  /* darken image slightly */
    transform: scale(0.975);   /* optional: zoom effect */
}

.top-link-grid {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.top-link {
    position: relative;
    top: 1vh;
    left: 2vh;
    text-align: center;
    flex: 0 0 auto;
}

.profile {
    position: relative;
    top: 50px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 100px;
    margin-left: 100%;
    margin-right: 1.6%;
}