body {
    align-items: center;
    scroll-behavior: smooth;
    background-color: rgb(131, 131, 131);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    margin-left: 1.7%;
    margin-right: 2%;
    color: aliceblue;
    padding: 10px;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
}

p, h2 {
    color: aliceblue;
}

/* Added a flex container for vertical alignment */
.row1, .row2, .row3 {
    display: flex;
    margin-right: 6%;
    padding: 2%;
}

.rectangle1nature, .rectangle2animalier, .rectangle3avions, .rectangle4villes, .rectangle5astro, .rectangle6misc {
    padding: 4px;
}

.rectangle1nature {
    position: relative;
    top: -30%;
    left: 25%; /* Align horizontally */
    transform: translateX(-50%); /* Center horizontally */
    text-align: center;
    filter: drop-shadow(rgb(4, 10, 44) 0.4rem 0.4rem 15px);
}

.rectangle2animalier {
    position: relative;
    top: -30%; /* Match the vertical alignment */
    left: 30%; /* Align horizontally */
    transform: translateX(-50%); /* Center horizontally */
    text-align: center;
}

.rectangle3avions {
    position: relative;
    top: -30%;
    left: 25%;
    transform: translateX(-50%); /* Center horizontally */
    text-align: center;
    filter: drop-shadow(rgb(0, 0, 0) 0.4rem 0.4rem 15px)
}

.rectangle4villes {
    position: relative;
    top: -30%;
    left: 30%;
    transform: translateX(-50%); /* Center horizontally */
    text-align: center;
    filter: drop-shadow(rgb(0, 0, 0) 0.4rem 0.4rem 15px)
}

.rectangle5astro {
    position: relative;
    top: -30%;
    left: 25%;
    transform: translateX(-50%); /* Center horizontally */
    text-align: center;
    filter: drop-shadow(rgb(0, 0, 0) 0.4rem 0.4rem 15px)
}

.rectangle6misc {
    position: relative;
    top: -30%;
    left: 30%;
    transform: translateX(-50%); /* Center horizontally */
    text-align: center;
    filter: drop-shadow(rgb(0, 0, 0) 0.4rem 0.4rem 15px)
}

.rectangle1naturetext, .rectangle2animaliertext, .rectangle3avionstext, .rectangle4villestext, .rectangle5astrotext, .rectangle6misctext {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    opacity: 90%;
    transform: translate(-50%, -50%);
}

.about_link {
    position: relative;
    top: 500px;
}

.profile {
    position: relative;
    top: 50px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 100px;
    margin-left: 1.6%;
    margin-right: 1.6%;
}