body {
    scroll-behavior: smooth;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    color: black;
    padding: 1%;
    border-color: black;
    background-color: rgba(0,0,0,0.05);
    border-radius: 10px;
}

p, h2 {
    color: aliceblue;
}

.grid-container {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.photo {
    position: relative;
    aspect-ratio: 3 / 2;
    display: flex;
    align-items: center;
    text-align: center;
}

.photo img {
    width: 100%;
    height: 100%;
    display: block;
}

.photo p {
    position: absolute;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.about_link {
    position: relative;
    top: 500px;
}

.profile {
    position: relative;
    top: 50px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 100px;
    margin-left: 1.6%;
    margin-right: 1.6%;
}